<form [formGroup]="form" class="example-container" (submit)="operate()" #frmPatient="ngForm">

    <div [hidden]="true">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" formControlName="idPatient">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>FIRSTNAME</mat-label>
        <input matInput placeholder="FirstName" formControlName="firstName">
        @if (f['firstName'].errors?.['required'] && f['firstName'].touched) {
            <small class="invalid">Is required</small>
        }
        @if (f['firstName'].errors?.['minlength'] && f['firstName'].touched) {
            <small class="invalid">Minlength is 3</small>
        }        
    </mat-form-field>

    <mat-form-field>
        <mat-label>LASTNAME</mat-label>
        <input matInput placeholder="LastName" formControlName="lastName">
         @if (f['lastName'].errors?.['required'] && f['lastName'].touched) {
            <small class="invalid">Is required</small>
        }
        @if (f['lastName'].errors?.['minlength'] && f['lastName'].touched) {
            <small class="invalid">Minlength is 3</small>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>DNI</mat-label>
        <input matInput placeholder="DNI" formControlName="dni">                
         @if (f['dni'].errors?.['required'] && f['dni'].touched) {
            <small class="invalid">Is required</small>
        }
        @if (f['dni'].errors?.['minlength'] && f['dni'].touched) {
            <small class="invalid">Minlength is 8</small>
        }
        @if (f['dni'].errors?.['maxlength'] && f['dni'].touched) {
            <small class="invalid">Maxlength is 8</small>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>ADDRESS</mat-label>
        <input matInput placeholder="Address" formControlName="address">
        @if (f['address'].errors?.['required'] && f['address'].touched) {
            <small class="invalid">Is required</small>
        }
        @if (f['address'].errors?.['minlength'] && f['address'].touched) {
            <small class="invalid">Minlength is 3</small>
        }
        @if (f['address'].errors?.['maxlength'] && f['address'].touched) {
            <small class="invalid">Maxlength is 150</small>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>PHONE</mat-label>
        <input matInput placeholder="phone" formControlName="phone">
        @if (f['phone'].errors?.['required'] && f['phone'].touched) {
            <small class="invalid">Is required</small>
        }
        @if (f['phone'].errors?.['minlength'] && f['phone'].touched) {
            <small class="invalid">Minlength is 9</small>
        }
        @if (f['phone'].errors?.['maxlength'] && f['phone'].touched) {
            <small class="invalid">Maxlength is 9</small>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>EMAIL</mat-label>
        <input matInput placeholder="Email" formControlName="email">
         @if (f['email'].errors?.['required'] && f['email'].touched) {
            <small class="invalid">Is required</small>
        }
        @if (f['email'].errors?.['email'] && f['email'].touched) {
            <small class="invalid">Invalid email</small>
        }
        @if (f['email'].errors?.['maxlength'] && f['email'].touched) {
            <small class="invalid">Maxlength is 100</small>
        }
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="frmPatient.invalid">
        <span>OK</span>
        <mat-icon>done</mat-icon>
    </button>

    <button mat-flat-button class="cancel-button" type="button" routerLink="/pages/patient">
        <span>Cancel</span>
        <mat-icon>cancel</mat-icon>
    </button>


</form>