<mat-dialog-content>
    <mat-toolbar>
        <span>Medic Info</span>
    </mat-toolbar>

    <div class="example-container">

        <mat-form-field>
            <mat-label>Specialty</mat-label>
            <mat-select [(ngModel)]="medic.idSpecialty">
                @for (sp of specialties; track $index) {
                    <mat-option [value]="sp.idSpecialty" >{{sp.nameSpecialty}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Primary Name" [(ngModel)]="medic.primaryName">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Surname" [(ngModel)]="medic.surname">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CMP" [(ngModel)]="medic.cmpMedic">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Photo" [(ngModel)]="medic.photo">
        </mat-form-field>

        @if (medic.photo) {
            <img mat-card-image [src]="medic.photo" alt="Medic Photo">
        }

        <button mat-flat-button (click)="operate()">
            <span>OK</span>
            <mat-icon>done</mat-icon>
        </button>

        <button mat-flat-button class="cancel-button" (click)="close()">
            <span>Cancel</span>
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</mat-dialog-content>